.w3-animate-left-in {
  animation: animateleftin 0.4s
} @keyframes animateleftin {
  from {
    transform: translate(-70%, calc(-50% - 10px));
    opacity:0;
  } to {
    transform: translate(-50%, calc(-50% - 10px));
    opacity:1;
  }
}

.w3-animate-left-out {
  animation: animateleftout 0.4s
} @keyframes animateleftout {
  from {
    transform: translate(-50%, calc(-50% - 10px));
    opacity:1;
  } to {
    transform: translate(-70%, calc(-50% - 10px));
    opacity:0;
  }
}
.w3-animate-right-in {
  animation: animaterightin 0.4s
} @keyframes animaterightin {
  from {
    transform: translate(-30%, calc(-50% - 10px));
    opacity:0;
  } to {
    transform: translate(-50%, calc(-50% - 10px));
    opacity:1;
  }
}
.w3-animate-right-out {
  animation: animaterightout 0.4s
} @keyframes animaterightout {
  from {
    transform: translate(-50%, calc(-50% - 10px));
    opacity:1;
  } to {
    transform: translate(-30%, calc(-50% - 10px));
    opacity:0;
  }
}
