.navbar-button-active {
    box-shadow: 0 15px 15px -15px black!important;
    background-color: #31b4cb!important;
    color: #f2f1f1!important;
    cursor: default!important;
    display: block!important;
    float: right!important;
    padding: 10px 25px!important;
    text-align: center!important;
    border-radius: 2em!important;
}
.auth-content-container {
    width: 900px;
    background-color: #fefefe;
    position: absolute;
    padding: 30px 50px 40px 50px;
    border-radius: 8px;
    left: 50%;
    top: calc(50%);
    transform: translate(-50%, calc(-50% - 10px));
    box-shadow: 0 15px 15px -15px black;
}
h2 {
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
    background-color: #999;
    padding: 25px;
    color: #fefefe;
    box-shadow: 0 5px 5px -4px black;
    width: calc(100% + 100px);
    margin-left: -50px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
.form-value-alert {
    color: #de473c;
    font-size: 16px;
    margin-left: 8px;
    float: right;
}
#popover-basic > div.popover-body {
    font-size: 1.0rem;
    padding-bottom: 0px;
}
ul.pass-req-list {
    list-style-image: url(../Images/check-solid.png);
}
ul.pass-req-list > li {
    margin-left: -15px;
    padding: 1px 0;
    font-size: 1.0rem;
}
.tooltip-register-password-header {
    background-color: #666;
    color: #eee;
}
#register-password-tooltip {
    font-size: 16px;
    margin-left: 5px;
    float: right;
    bottom: -0.4rem;
}
#register-password-tooltip:hover {
    cursor: pointer;
    color: #555;
}
#inputGroupPrepend {
    background-color: #fff;
    border-left: none;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    color: #999;
}
#inputGroupPrepend:hover {
    color: #555;
    cursor: pointer;
}
#formGridEmail, #formGridFirstName, #formGridLastName, #formGridEmailResetPass {
    border-radius: 0.25rem;
    box-shadow: 0 3px 3px -3px black;
    transition: ease .08s;
}
#formGridEmail:focus, #formGridFirstName:focus, #formGridLastName:focus, #formGridEmailResetPass:focus {
    box-shadow: 0 5px 5px -5px black;
    border-color: #ced4da;
}
.input-group {
    box-shadow: 0 3px 3px -3px black;
    transition: ease .08s;
}
#formGridPassword {
    border-right: none;
}
#checkbox-regulations-link {
    color: #de473c;
    font-weight: 500;
}
#checkbox-regulations-link:hover {
    color: #bc251a;
    text-decoration: underline;
    cursor: pointer;
}
.auth-button-my {
    background-color: #31b4cb;
    border-color: #31b4cb;
    box-shadow:  0 5px 5px -5px  black;
    transition: ease-in-out .3s;
}
.auth-button-my:focus {
    background-color: #31b4cb;
    border-color: #31b4cb;
    box-shadow:  0 5px 5px -5px  black;
    transition: ease-in-out .3s;
}
.auth-button-my:active {
    background-color: #31b4cb;
    border-color: #31b4cb;
    box-shadow:  0 5px 5px -5px  black;
    transition: ease-in-out .3s;
}
.auth-button-my:disabled {
    background-color: rgba(49, 180, 203, 0.9);
    border-color: #80d1df;
    box-shadow:  0 5px 5px -5px  black;
    transition: ease-in-out .3s;
}
.auth-button-my:disabled:hover {
    background-color: rgba(49, 180, 203, 0.9);
    border-color: #80d1df;
    box-shadow:  0 5px 5px -5px  black;
    transition: ease-in-out .3s;
    cursor: auto;
}
.auth-button-my:hover {
    background-color: #20a3ba;
    border-color: #31b4cb;
    box-shadow:  0 8px 8px -8px  black;
    cursor: pointer;
}
.modal-header {
    background-color: #5599a6;
    box-shadow: 0 5px 5px -5px black;
    color: #fefefe;
}
.modal-title.h4 {
    margin: 0 auto;
}
.modal-header > button.close {
    margin-left: 0;
    color: #fefefe;
}
.modal-header-error {
    background-color: #a65555;
}
.form-link {
    color: #de473c;
    font-weight: 500;
}
.form-link:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #de473c;
}
