#div-password-login {
    border-radius: .25rem;
}

#formBasicPassword {
    border-right: none;
}

#formBasicPassword:focus {
    box-shadow: none;
}

.login-header-container {
    width: 400px;
    height: 70px;
    margin: 0;
    position: absolute;
    top: 75px;
    left: 0%;
    transform: translate(0%, -50%);
    background-color: #fff;
    border-radius: 0em 4em 4em 0em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    line-height: 70px;
    display: none;
}

.background-opcaity-container {
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255, 0.3);
    position: fixed;
}

.login-form-my {
    width: 50%;
    min-height: 490px;
    margin: 0;
    position: absolute;
    top: 570px;
    right: 0%;
    float: right;
    transform: translate(0%, -50%);
    background-color: rgba(255,255,255, 0.99);
    padding: 60px 60px 40px 60px;
    border-radius: 2em 0em 0em 2em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    display: none;
}

.home-info-container {
    width: 50%;
    min-height: 490px;
    margin: 0;
    position: absolute;
    top: 570px;
    right: 0%;
    float: right;
    transform: translate(0%, -50%);
    background-color: rgba(255,255,255, 0.99);
    padding: 60px 60px 40px 60px;
    border-radius: 2em 0em 0em 2em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    display: none;
}

.login-logo-my:hover {
    width: 220px;
    height: 102px;
}

.login-logo-my {
    width: 200px;
    height: 93px;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -20%);
    transition: ease-in-out .5s;
}

#login-back-button {
    background-color: rgba(255,255,255, 0.99);
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    padding-top: 13px;
    padding-left: 14px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 0em 0em 2em 0em;
    position: absolute;
    display: none;
}

#login-back-button:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

@media (max-height: 900px) {
    .login-header-container {
        top: 8%;
    }
    .login-form-my {
        top: 55%;
    }
    .login-logo-my {
        top: 7%;
    }
}

@media (max-width: 1400px) {
    .login-form-my { width: 60%; }
    .w3-animate-right-login-container { animation: animateright60percent .7s; }
    .w3-animate-left-login-container { animation: animateright60percentback .7s; }
}

@media (max-width: 1250px) {
    .login-form-my { width: 80%; }
    .w3-animate-right-login-container { animation: animateright80percent .7s; }
    .w3-animate-left-login-container { animation: animateright80percentback .7s; }
}

@media (max-width: 910px) {
    .login-form-my {
        width: 100%;
        border-radius: 0px;
    }
    .w3-animate-right-login-container { animation: animateright100percent .7s; }
    .w3-animate-left-login-container { animation: animateright100percentback .7s; }
}

@media (max-width: 700px) {
    .login-header-container {
        width: 100%;
        border-radius: 0px;
        transform: none;
        position: relative;
        margin-top: 20px;
        top: unset;
    }
    .w3-animate-left-login-header { animation: animateleftloginheader100 .7s; }
    .w3-animate-right-login-header { animation: animaterightloginheader100 .7s; }
    .login-form-my {
        padding: 30px;
        min-height: 400px;
        transform: none;
        position: relative;
        top: unset;
    }
    .login-logo-my {
        transform: translate(-50%, 0%);
        position: relative;
        margin: 30px 0;
        margin-left: auto;
        margin-right: auto;
        top: unset;
        left: 50%;
    }
    div.form-row > div.form-group.col {
        flex-basis: unset;
    }
}

@media (max-width: 480px) {
    .register-button-my {
        float: none!important;
    }
}

.register-form-my {
    min-height: 450px;
}