.profile-avatar {
    background-image: url(../images/avatar-square.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    padding: 0;
}
.profile-avatar::before {
    content: "";
    background-color: brown;
	float: left;
	padding-top: 128%; 
}
.profile-basics {
    background-color: gray;
}
.avatar-container {
    width: auto;
}
.avatar-container-cropper {
	height: 90%;
	padding: 15vw;
}
.cropper {
	height: 90%;
	position: relative;
}
.avatar-modal-body {
    background-color: rgba(0, 0, 0, 0.6);
}
.avatar-empty-icon {
    color: #eee;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
}
.reactEasyCrop_Container {
    cursor: inherit!important;
}
.avatar-manipulation-cols {
    text-align: center;
    padding: 10px 20px;
}
.avatar-manipulation-titles {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif!important;
}
.avatar-manipulation-sliders > span.MuiSlider-track {
    color: #eb4a4a!important;
}
.avatar-manipulation-sliders > span.MuiSlider-rail {
    color: #000!important;
    opacity: 0.3;
}
.avatar-manipulation-sliders > span.MuiSlider-thumb {
    width: 14px;
    height: 14px;
    margin-top: -6px;
    margin-left: -6px;
    color: #eb4a4a!important;
}
.avatar-choose-file-button {
    color: #eb4a4a!important;
    border-color: #ff8282!important;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.avatar-manipulation-save-Button {
    position: sticky!important;
    float: right;
    background-color: #eb4a4a!important;
}
.avatar-manipulation-save-Button:hover {
    background-color: #d34141!important;
}