html, body {
    height: 100%;
    background-color: #f2f1f1;
    color: #444;
}

.home-container {
    width: 100%;
    margin: 0;
    background-color: #fefefe;
}
.navbar-header {
    background-color: unset!important;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3), rgba(0,0,0,0.001));
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.navbar-header-dark {
    background: linear-gradient(rgba(20,20,20,0.9), rgba(20,20,20,0.9));
}
.header-image-logo {
    margin: 12.5px 0;
    float: left;
    vertical-align: unset!important;
    padding: 0px;
    width: 160px;
}
.photo-section {
    width: 100%;
    height: 600px;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.opacity-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.width-divider {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.navbar-links {
    width: calc(100% - 460px);
    height: 150px;
    float: left;
    text-align: center;
}
.navbar-links > a {
    margin: 30px 0px;
    padding: 10px 20px;
    display: inline-block;
    height: 70px;
    text-align: center;
    transition: color .3s ease;
    color: #f2f1f1;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-links > a:hover {
    height: 69px;
    cursor: pointer;
    color: #31b4cb;
    border-bottom: 2px solid #31b4cb;
}
.navbar-buttons {
    width: 300px;
    height: 44px;
    margin: 28px 0;
    float: left;
    text-align: center;
}
.navbar-buttons > a {
    display: block;
    float: right;
    padding: 10px 25px;
    background-color: #f2f1f1;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 10px 10px -10px black;
    transition:  .3s ease;
}
.navbar-buttons > a:hover {
    cursor: pointer;
    box-shadow: 0 15px 15px -15px black;
    background-color: #31b4cb;
    color: #f2f1f1;
}
#login-button {
    margin-right: 10px;
    background-color: unset;
    padding: 8px 23px;
    border: 2px solid #f2f1f1;
    color: #f2f1f1;
}
#login-button:hover {
    border-color: #31b4cb;
    background-color: #31b4cb;
    color: #f2f1f1;
}
.home-content {
    width: 100%;
    margin: 0;
}
.content-header {
    width: 100%;
    height: 130px;
    background-color: #fefefe;
}
h1 {
    width: auto;
    padding: 40px 0px 41px 0px;
    margin: 0px;
    border-bottom: 1px solid #666;
    color: #666;
}
#about-content {
    width: 100%;
    background-color: #fefefe;
}
.home-image-screen {
    width: 540px;
    margin: 27px 0px;
    box-shadow: 0 10px 20px -10px black;
    transform: rotate3d(1, 1, 1, 10deg);
}
.col {
    font-size: 17px;
    text-align: justify;
}
#offer-header > div > h1 {
    color: #31b4cb;
    border-color: #31b4cb;
}
.content-photo-divider {
    width: 100%;
    height: 75px;
    background-color: #5599a6;
    margin-bottom: 50px;
}
.offer-brochure {
    width: 610px;
    margin: 0 auto;
    padding: 40px 60px;
    box-shadow: 0 10px 20px -10px black;
    border-radius: 50px;
    background-color: #fefefe;
}
ul > li {
    font-size: 19px;
    padding: 10px 0px;
    text-align: left;
}
ul > li > p {
    padding-left: 20px;
    margin: 0;
}
.fas.fa-check {
    color: #32a852;
    font-size: 35px;
    text-shadow: 1px 0px 1px #444;
}
hr {
    margin-left: -40px;
}
#offer-header {
    background-color: #5599a6;
}
#offer-header > div > h1 {
    color: #fefefe;
    border-color: #fefefe;
}
#offer-content {
    background-color: #5599a6;
}
#contact-header {
    background-color: #ededed;
}
#contact-content {
    background-color: #ededed;
}
#footer {
    background-color: #444;
}
#footer > div > p {
    color: #fefefe;
    margin: 0;
}
#footer > div > p:nth-child(1) {
    font-size: 18px;
}
#footer > div > p:nth-child(2) {
    font-size: 13px;
}
#form-send-button {
    font-size: 25px;
    width: inherit;
    border-radius: 2em;
    transition:  .3s ease;
    background-color: unset;
    padding: 8px 23px;
    border: 2px solid #31b4cb;
    color: #31b4cb;
    box-shadow: 0 10px 10px -10px black;
}
.input-group-prepend > span {
    background-color: #31b4cb;
    color: #fefefe;
}
#form-send-button:hover {
    border-color: #31b4cb;
    background-color: #31b4cb;
    color: #fefefe;
    box-shadow: 0 10px 10px -10px black;
    cursor: pointer;
}
.login-form-my {
    width: 60%;
    margin: 0 auto;
}
.search {
    width: 550px;
    height: 60px;
    background-color: #fefefe;
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translate(-50%, 0px);
    box-shadow: 0 10px 20px -10px black;
    border-radius: 40px;
    background-color: unset;
}
.search > input {
    height: 60px;
    border-radius: 40px 0px 0px 40px;
    background-color: unset;
    border: 2px solid #888;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fefefe;
    padding-left: 30px;
}
.search > input::placeholder {
    color: #888;
    transition: .3s ease;
}
.search > input:focus {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #888;
    color: #fefefe;
    box-shadow: none;
}
.search > input:focus::placeholder {
    color: #fefefe;
}
.search > div > button {
    background-color: #fefefe;
    color: #444;
    border-radius: 0px 40px 40px 0px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 20px;
    border: solid #888;
    border-width: 2px 2px 2px 0px;
}
.search > div > button:hover {
    background-color: #31b4cb;
    color: #fefefe;
    border-color: #31b4cb;
}
/*

.header-image-logo {
    margin-left: 50px;
    width: 60%;
}
*/


/*
#root {
    width: 100%;
    min-height: 100%;
    position: static;
}



.slider-container-my {
    width: 800px;
    height: 395px;
    background-color: #5c5c5c;
    box-shadow:  0 0 10px  rgb(0,0,0);
      -moz-box-shadow: 0 0 10px rgb(0,0,0);
      -webkit-box-shadow: 0 0 10px rgb(0,0,0);
      -o-box-shadow: 0 0 10px rgb(0,0,0);
    position: fixed;
    right: 8%;
    bottom: 10%;
}

.home-description-my {
    width: 800px;
    min-height: 230px;
    float: right;
    margin-right: 10%;
    margin-top: 200px;
}

.home-description-my > hr {
    border-top: 2px solid #888
}

.home-description-my > h1 {
    color: #555;
}

.home-description-my > p {
    margin-left: 10px;
    color: #7c8a89;
}

.carousel-item {
    color: #fff;
}

.carousel-item > img {
    filter: contrast(40%);
}

.page-not-found-image {
    width: 500px;
    position: fixed;
    right: 16%;
    bottom: 10%;
}

.home-right-container-my {
    width: 60%;
    height: 100%;
    float: right;
    position: relative;
    display: none;
}

.login-register-redirect:hover {
    cursor: pointer;
}

.login-form-my > form > h3, .register-form-my > form > h3 {
    color: rgba(0, 0, 0, 0.8);
}

.login-form-my > form > p, .register-form-my > form > p {
    color: rgba(0, 0, 0, 0.8);
}

.login-form-my > form > p:nth-child(3) {
    font-size: 15px;
}

.login-links {
    color: #31b4cb;
}

.login-links:hover {
    color: #1092a9;
}

a.login-links {
    color: #31b4cb;
}

a.login-links:hover {
    color: #1092a9;
    text-decoration: underline;
}

.login-button-my {
    background-color: #eb4a4a;
    border-color: #eb4a4a;
    box-shadow:  0 0 4px 0px  rgb(0,0,0);
    transition: ease-in-out .3s;
}
.login-button-my:focus {
    background-color: #eb4a4a;
    border-color: #eb4a4a;
    box-shadow:  0 0 4px 0px  rgb(0,0,0);
    transition: ease-in-out .3s;
}
.login-button-my:active {
    background-color: #eb4a4a;
    border-color: #eb4a4a;
    box-shadow:  0 0 4px 0px  rgb(0,0,0);
    transition: ease-in-out .3s;
}

.login-button-my:disabled {
    background-color: #eb4a4a;
    border-color: #eb4a4a;
    box-shadow:  0 0 4px 0px  rgb(0,0,0);
    transition: ease-in-out .3s;
}

.login-button-my:disabled:hover {
    background-color: #eb4a4a;
    border-color: #eb4a4a;
    box-shadow:  0 0 4px 0px  rgb(0,0,0);
    transition: ease-in-out .3s;
    cursor: auto;
}

.login-button-my:hover {
    background-color: #da3939;
    border-color: #da3939;
    box-shadow:  0 0 8px 0px  rgb(0,0,0);
    cursor: pointer;
}

a.register-login-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

i.home-link-register {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.4);
    transition: ease-in-out .3s;
}

i.home-link-register:hover {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.register-have-account {
    font-size: 18px;
    margin-top: 22px;
}

.register-have-account > a {
    color: #31b4cb;
}

.register-have-account > a:hover {
    color: #1092a9;
}

.form-value-alert {
    color: #de473c;
    font-size: 15px;
    margin-left: 8px;
    float: right;
    display: none;
}

#register-password-tooltip {
    font-size: 18px;
    margin-left: 5px;
}

#register-password-tooltip:hover {
    cursor: pointer;
    color: #555;
}

#popover-basic > div.popover-body > ul {
    list-style-image: url(../images/check-solid.png);
}

#popover-basic > div.popover-body > ul > li {
    margin-left: -10px;
}

.tooltip-register-password-header {
    background-color: #666;
    color: #eee;
}
.input-group-prepend {
    border: none;
    height: 38px;
    width: 44px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.input-group {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
#inputGroupPrepend {
    background-color: #fff;
    border-left: none;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    color: #999;
}
#inputGroupPrepend:hover {
    color: #555;
    cursor: pointer;
}

i.fas.fa-eye {
    transition: ease-in-out .3s;
}

#formGridPassword {
    border-right: none;
}

#formGridPassword:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}

form > div:nth-child(5) > div:nth-child(2) > div {
    border-radius: .25rem;
}
i.fas.fa-eye-slash {
    transition: ease-in-out .3s;
    display: none;
    width: 18px;
}

#checkbox-regulations-link {
    color: #de473c;
    font-weight: 500;
}

#checkbox-regulations-link:hover {
    color: #bc251a;
    text-decoration: underline;
    cursor: pointer;
}

.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}

#successIconModal {
    color: #31b4cb;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modal-close-btn {
    color: #555;
    font-weight: bold;
    transition: ease-in-out .3s;
}

.modal-close-btn:hover {
    color: #333;
    text-decoration: underline;
}

.modal-redirect-btn {
    background-color: #de473c;
    color: #fff;
    border-color: #de473c;
    box-shadow: 0px 0px 2px 0px #000;
}

.modal-redirect-btn:hover {
    box-shadow: 0px 0px 4px 0px #000;
    transition: ease-in-out .3s;
    background-color: #de473c;
    border-color: #de473c;
}

.modal-redirect-btn:focus {
    background-color: #de473c;
    border-color: #de473c;
}

#spinner-modal-register-request {
    width: 8rem;
    height: 8rem;
    margin-left: auto;
    margin-right: auto;
    color: #eb4a4a!important;
}

#container-spinner-modal-register-request > div {
    background-color: transparent;
    border: none;
}

.resend-link-button {
    color: #fff;
    background-color: #31b4cb;
    border-color: #31b4cb;
    box-shadow: 0px 0px 2px 0px #000;
    transition: ease-in-out .3s;
}

.resend-link-button:hover {
    box-shadow: 0px 0px 4px 0px #000;
    background-color: #20a3ba;
    border-color: #20a3ba;
}

.resend-link-button:focus {
    box-shadow: 0px 0px 4px 0px #000;
    background-color: #20a3ba;
    border-color: #20a3ba;
}

.resend-link-button:active {
    box-shadow: 0px 0px 4px 0px #000!important;
    background-color: #20a3ba!important;
    border-color: #20a3ba!important;
}

#resend-link-spinner {
    margin-left: 37px;
    margin-right: 37px;
    color: #31b4cb!important;
}

.loading-page-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-image-container {
    width: 100%;
    min-height: 100%;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.header-home-links {
    color: #eee;
    margin-right: 10px;
}
.header-home-links:hover {
    color: #eee;
}

.header-divider {
    width: 50px;
    height: 40px;
    box-shadow: -8px 0px 8px -8px rgba(0,0,0,0.8);
}

.search-header::placeholder {
    color: #fff;
}

.home-info-container {
    width: 100%;
    min-height: 650px;
    top: 510px;
    background-color: rgba(250, 250, 250, 0.75);
    padding: 60px 60px 40px 60px;
    position: absolute;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.carousel-home-content {
    width: 100%;
    height: 200px;
    background-color: #fff;
    position: fixed;
    top: 100%;
    left: 0;
}

.gradient-text {
    background: -webkit-linear-gradient( #444, #555, #888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1500px) {
    .home-info-container { width: 80%; }
    .w3-animate-right-home-container { animation: animateright80percent .7s; }
    .w3-animate-left-home-container { animation: animateright80percentback .7s; }
}

@media (max-width: 1100px) {
    .home-info-container { width: 100%; border-radius: 0px; }
    .w3-animate-right-home-container { animation: animateright100percent .7s; }
    .w3-animate-left-home-container { animation: animateright100percentback .7s; }
}

@media (max-width: 870px) {
    .home-info-container.w3-animate-right-home-container > div {
        float: none!important;
        width: 100%!important;
        min-height: 150px!important;
    }
    .home-info-container.w3-animate-right-home-container > div:nth-child(2) > div {
        min-height: 150px!important;
    }
    .home-info-container.w3-animate-right-home-container > div:nth-child(2) > div:nth-child(2) {
        width: 60%!important;
        text-align: left!important;
        padding-left: 10px;
    }
    .home-info-container.w3-animate-right-home-container > div:nth-child(2) > div:nth-child(1) {
        width: 40%!important;
    }
    .home-info-container {
        top: 55%;
        padding: 30px;
    }
}

@media (max-width: 580px) {
    .home-info-container.w3-animate-right-home-container > div:nth-child(2) {
        display: none;
    }
    .home-info-container { top: 60%; }
} */
