html, body {
    height: 100%;
}

.header-image-logo {
    margin-left: 50px;
    width: 60%;
}

.navbar-my {
    background-color: rgba(248, 249, 250, 0.9)!important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
}

#root {
    background-color: rgba(248, 249, 250, 0.8);
    background-image: url("../images/home-background.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.container-my {
    width: 100%;
}

.header-btn-my {
    margin-left: 10px;
}

.header-btn-login-my {
    color: #eb4a4a;
    border-color: #eb4a4a;
}

.header-btn-login-my:hover {
    background-color: #eb4a4a;
    border-color: #eb4a4a;
}

.header-btn-register-my {
    color: #31b4cb;
}

.header-btn-register-my:hover {
    color: #20a3ba;
}

.slider-container-my {
    width: 800px;
    height: 395px;
    background-color: #5c5c5c;
    box-shadow:  0 0 10px  rgb(0,0,0);
      -moz-box-shadow: 0 0 10px rgb(0,0,0);
      -webkit-box-shadow: 0 0 10px rgb(0,0,0);
      -o-box-shadow: 0 0 10px rgb(0,0,0);
    position: fixed;
    right: 8%;
    bottom: 10%;
}

.home-description-my {
    width: 800px;
    height: 230px;
    float: right;
    margin-right: 10%;
    margin-top: 100px;
}

.home-description-my > hr {
    border-top: 2px solid #888
}

.home-description-my > h1 {
    color: #555;
}

.home-description-my > p {
    margin-left: 10px;
    color: #7c8a89;
}

.carousel-item {
    color: #fff;
}

.carousel-item > img {
    filter: contrast(40%);
}

.page-not-found-image {
    width: 500px;
    position: fixed;
    right: 16%;
    bottom: 10%;
}

.login-container-my {
    width: 60%;
    height: 100%;
    float: right;
    position: relative;
}

.login-form-my {
    width: 600px;
    height: 300px;
    margin: 0;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-logo-my {
    width: 200px;
    height: 93px;
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out .5s;
}

.login-logo-my:hover {
    width: 220px;
    height: 102px;
}

.login-form-my > form > h3, .register-form-my > form > h3 {
    color: rgba(0, 0, 0, 0.8);
}

.login-form-my > form > p, .register-form-my > form > p {
    color: rgba(0, 0, 0, 0.8);
}

.login-form-my > form > p:nth-child(3) {
    font-size: 15px;
}

.login-links {
    color: #31b4cb;
}

.login-links:hover {
    color: #1092a9;
}

.login-button-my {
    background-color: #eb4a4a;
    border-color: #eb4a4a;
    box-shadow:  0 0 4px 0px  rgb(0,0,0);
}

.login-button-my:hover {
    background-color: #da3939;
    border-color: #da3939;
}

.login-button-my:active {
    background-color: #da3939;
    border-color: #da3939;
}

.register-container-my {
    width: 60%;
    height: 100%;
    float: left;
    position: relative;
}

.register-form-my {
    width: 800px;
    height: 300px;
    margin: 0;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-logo-my {
    width: 200px;
    height: 93px;
    margin: 0;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out .5s;
}

.register-logo-my:hover {
    width: 220px;
    height: 102px;
}

.register-have-account {
    font-size: 18px;
    margin-top: 22px;
}

.register-have-account > a {
    color: #31b4cb;
}

.register-have-account > a:hover {
    color: #1092a9;
}